In [1]:
import pandas as pd
import numpy as np
import scipy.stats as stats

# Exercise 1

In [2]:
# normal distribution
mu = 13.2
std = 2.5
n = 40
xbar = 12.2
alpha = 0.01

In [3]:
# H0: mu = 13.2
# Ha: mu < 13.2

In [4]:
z = (xbar - mu) / (std / np.sqrt(n))
z

-2.5298221281347035

In [ ]:
#

In [5]:
stats.norm.cdf(-2.53)

0.005703126332950699

In [6]:
# Conclusion: p-value is below alpha constraint, 
# which indicates the rejection of the null hypothesis
# and we can NOT conclude that the company is under paying the staff

# Exercise 2

In [7]:
df = pd.read_csv("soil - Sheet1.csv")
df

    Soil1  Soil2
0   1.442  1.364
1   1.943  1.878
2   1.110  1.337
3   1.912  1.828
4   1.553  1.371
5   1.641  1.428
6   1.499  1.119
7   1.347  1.373
8   1.685  1.589
9   1.578  1.714
10  1.866  1.260
11  1.653  1.492
12  1.665  1.395
13  1.640  1.778
14  1.976  1.611
15  1.754  1.202
16  1.589  1.542
17  1.976  1.094
18  1.863  1.557
19  1.932  1.053
20  1.570  1.183
21  1.613  1.367
22  2.054  1.144
23  1.550  1.151
24  1.714  1.561
25  1.896  1.192
26  1.737  1.489
27  1.740  1.379
28  1.708  1.501
29  1.548  1.277
30    NaN  1.593
31    NaN  1.172
32    NaN  1.510
33    NaN  1.740
34    NaN  1.355

In [8]:
df.isnull().sum()

Soil1    5
Soil2    0
dtype: int64

In [9]:
df.dropna(axis=0, inplace=True)

In [10]:
df

    Soil1  Soil2
0   1.442  1.364
1   1.943  1.878
2   1.110  1.337
3   1.912  1.828
4   1.553  1.371
5   1.641  1.428
6   1.499  1.119
7   1.347  1.373
8   1.685  1.589
9   1.578  1.714
10  1.866  1.260
11  1.653  1.492
12  1.665  1.395
13  1.640  1.778
14  1.976  1.611
15  1.754  1.202
16  1.589  1.542
17  1.976  1.094
18  1.863  1.557
19  1.932  1.053
20  1.570  1.183
21  1.613  1.367
22  2.054  1.144
23  1.550  1.151
24  1.714  1.561
25  1.896  1.192
26  1.737  1.489
27  1.740  1.379
28  1.708  1.501
29  1.548  1.277

In [11]:
x1 = df['Soil1'].mean()
x1

1.6918000000000002

In [12]:
x2 = df['Soil2'].mean()
x2

1.407633333333333

In [13]:
s1 = df['Soil1'].std()
s1

0.2069028424331008

In [14]:
s2 = df['Soil2'].std()
s2

0.22151243186616945

In [15]:
alpha = 0.01

In [16]:
# x1 = mean of Soil 1
# x2 = mean of Soil 2

In [17]:
# H0: x1 = x2
# Ha: x1 != x2

In [18]:
stats.ttest_ind(df.Soil1, df.Soil2, equal_var=False, alternative='two-sided')

Ttest_indResult(statistic=5.134893443609086, pvalue=3.4715590303261617e-06)

In [19]:
# Conclusion: p-value is less than significant level
# which means we should reject the null hypothesis that the two means are equal
# and we can say that these two soils DO appear to differ in regards to average shear strength

# Exercise 3

In [ ]:
# Assume alpha to be 0.05

In [21]:
df = pd.read_csv("2015 PISA Test - Sheet1.csv")
df

,Country Code,Continent_Code,internet_users_per_100,Math,Reading,Science
0,ALB,EU,63.252933,413.1570,405.2588,427.2250
1,ARE,AS,90.500000,427.4827,433.5423,436.7311
2,ARG,SA,68.043064,409.0333,425.3031,432.2262
3,AUS,OC,84.560519,493.8962,502.9006,509.9939
4,AUT,EU,83.940142,496.7423,484.8656,495.0375
...,...,...,...,...,...,...
65,TUN,AF,48.519836,366.8180,361.0555,386.4034
66,TUR,EU,53.744979,420.4540,428.3351,425.4895
67,URY,SA,64.600000,417.9919,436.5721,435.3630
68,USA,NaN,74.554202,469.6285,496.9351,496.2424
69,VNM,AS,43.500000,494.5183,486.7738,524.6445

In [22]:
df.isnull().sum()

Country Code              0
Continent_Code            5
internet_users_per_100    0
Math                      0
Reading                   0
Science                   0
dtype: int64

In [34]:
df.Continent_Code.replace(np.nan, 'NA', inplace=True)
df

,Country Code,Continent_Code,internet_users_per_100,Math,Reading,Science
0,ALB,EU,63.252933,413.1570,405.2588,427.2250
1,ARE,AS,90.500000,427.4827,433.5423,436.7311
2,ARG,SA,68.043064,409.0333,425.3031,432.2262
3,AUS,OC,84.560519,493.8962,502.9006,509.9939
4,AUT,EU,83.940142,496.7423,484.8656,495.0375
...,...,...,...,...,...,...
65,TUN,AF,48.519836,366.8180,361.0555,386.4034
66,TUR,EU,53.744979,420.4540,428.3351,425.4895
67,URY,SA,64.600000,417.9919,436.5721,435.3630
68,USA,NA,74.554202,469.6285,496.9351,496.2424
69,VNM,AS,43.500000,494.5183,486.7738,524.6445

In [35]:
df.isnull().sum()

Country Code              0
Continent_Code            0
internet_users_per_100    0
Math                      0
Reading                   0
Science                   0
dtype: int64

In [37]:
df.groupby('Continent_Code').describe()

               internet_users_per_100                                   \
                                count       mean        std        min
Continent_Code
AF                                2.0  43.359918   7.297226  38.200000
AS                               17.0  68.455613  21.086060  21.976068
EU                               37.0  77.274888  12.425773  53.744979
NA                                5.0  66.886792  14.364359  54.215766
OC                                2.0  86.391704   2.589686  84.560519
SA                                7.0  60.180494   9.772455  40.900000

                                                            Math              \
                      25%        50%        75%        max count        mean
Continent_Code
AF              40.779959  43.359918  45.939877  48.519836   2.0  363.212100
AS              50.300000  74.000000  84.948353  92.884826  17.0  466.216647
EU              68.632900  76.184000  87.479056  98.200000  37.0  477.981449
NA              57.431043  59.762950  74.554202  88.470000   5.0  424.250960
OC              85.476112  86.391704  87.307296  88.222889   2.0  494.559750
SA              57.116462  64.289000  66.321532  69.198471   7.0  402.887700

                ...     Reading           Science                         \
                ...         75%       max   count        mean        std
Continent_Code  ...
AF              ...  358.256450  361.0555     2.0  381.074250   7.536556
AS              ...  508.690500  535.1002    17.0  467.945847  56.671371
EU              ...  499.814600  526.4247    37.0  478.299381  34.450616
NA              ...  496.935100  526.6678     5.0  438.180760  76.789918
OC              ...  507.678175  509.2707     2.0  511.648700   2.340241
SA              ...  431.922700  458.5709     7.0  421.747186  18.470319


                     min         25%        50%         75%       max
Continent_Code
AF              375.7451  378.409675  381.07425  383.738825  386.4034
AS              386.4854  417.611200  456.48360  523.277400  555.5747
EU              383.6824  460.774900  490.22500  501.936900  534.1937
NA              331.6388  415.709900  419.60800  496.242400  527.7047
OC              509.9939  510.821300  511.64870  512.476100  513.3035
SA              396.6836  408.205450  424.59050  433.794600  446.9561

[6 rows x 32 columns]

In [67]:
df_new = df[df['Continent_Code'] == 'AS']
a = np.array(df_new.Math)
a

array([427.4827, 531.2961, 403.8332, 547.931 , 386.1096, 469.6695,
       380.259 , 532.4399, 459.816 , 524.1062, 396.2497, 543.8078,
       446.1098, 402.4007, 564.1897, 415.4638, 494.5183])

In [68]:
df_new = df[df['Continent_Code'] == 'EU']
b = np.array(df_new.Math)
b

array([413.157 , 496.7423, 506.9844, 441.1899, 521.2506, 437.1443,
       492.3254, 505.9713, 511.0876, 485.8432, 519.5291, 511.0769,
       492.9204, 492.4785, 453.6299, 464.0401, 476.8309, 503.722 ,
       488.0332, 489.7287, 478.3834, 485.7706, 482.3051, 419.6635,
       371.3114, 478.6448, 417.9341, 512.2528, 501.7298, 504.4693,
       491.627 , 443.9543, 494.06  , 475.2301, 509.9196, 493.9181,
       420.454 ])

In [69]:
# H0: mu1 = mu2      (averages of math scores for 'AS' and 'EU' are the same)
# Ha: mu1 != mu2     (averages of math scores for 'AS' and 'EU' are NOT the same)

In [66]:
stats.ttest_ind(a, b, equal_var=True, alternative='two-sided')

Ttest_indResult(statistic=-0.870055317967983, pvalue=0.38826888111307345)

In [ ]:
# Conclusion: p-value exceeds our assumed alpha
# which means we fail to reject the null value
# and shows we DO NOT have strong evidence to say the two means are the same